/* the TeX and LaTeX logos */

span.tex span,
span.latex span {
    text-transform: uppercase;
}

span.latex span:first-child {
    font-size: 0.8em;
    vertical-align: 0.2em;
    margin-left:  -0.45em;
    margin-right: -0.15em;
}

span.tex span:first-child,
span.latex span:last-child {
    margin-left: -0.2em;
    margin-right: -0.2em;
    position: relative;
    top: 0.45ex;
}
