@import url("../fonts/cmu.css");

pre {
    white-space: pre-wrap;
    margin: 2em -5em;
}

/***************/
/* page layout */
/***************/

body {
    max-width: 40rem;
    margin: 1em auto;
    padding: 0 5em;
}


/*********/
/* fonts */
/*********/

html {
    font-family: "Computer Modern Serif", serif;
    text-align: justify;
    line-height: 1.2;
}

.katex {
    font-size: 1em !important;
    font-family: "Computer Modern Serif", "KaTeX_Main" !important;
}


/* family */
.rm {
    font-family: "Computer Modern Serif", serif;
}
.sf {
    font-family: "Computer Modern Sans", sans-serif;
}
.tt {
    font-family: "Computer Modern Typewriter", monospace;
}

/* weight */
.md {
    font-weight: normal;
}

.bf {
    font-weight: bold;
}

/* shape - LaTeX doesn't support slanted small-caps by default */
.up {
    font-family: "Computer Modern Serif", serif;
    font-style: normal;
    font-variant-caps: normal;
}

.it {
    font-family: "Computer Modern Classical Serif Italic";
    font-style: italic;
    font-variant-caps: normal;
}

.sl {
    font-family: "Computer Modern Serif Slanted";
    /*font-style: oblique;*/
    font-variant-caps: normal;
}

.sc {
    font-family: "Computer Modern Serif", serif;
    font-style: normal;
    font-variant-caps: small-caps;
}

.em, em {
    font-style: italic; /* TODO: what if nested? */
}

.underline {
    text-decoration: underline;
}


/* size */

.tiny {
    font-size: .5rem;
}

.scriptsize {
    font-size: .7rem;
}

.footnotesize {
    font-size: .82rem;
}

.small {
    font-size: .91rem;
}

.normalsize {
    font-size: 1rem;
}

.large {
    font-size: 1.2rem;
}

.Large {
    font-size: 1.4rem;
}

.LARGE {
    font-size: 1.7rem;
}

.huge {
    font-size: 2rem;
}

.Huge {
    font-size: 2.5rem;
}




/**************/
/* sectioning */
/**************/

h1, h2, h3, h4 {
    /* \normalfont */
    font-family: "Computer Modern Serif", serif;
    font-style: normal;
    font-variant-caps: normal;

    text-align: left;
}

h1.nocount:before,
h2.nocount:before,
h3.nocount:before {
    content: none;
    counter-increment: none;
}



/*************/
/* alignment */
/*************/

.center {
    text-align: center;
}

.flushleft {
    text-align: left;
}

.flushright {
    text-align: right;
}

/* the environment form skips a line before and after */
div.center,
div.flushleft,
div.flushright {
    margin-top: 1em;
    margin-bottom: 1em;
}


/**********/
/* spaces */
/**********/


/* paragraphs are indented */

p, ul, ol, dl, div {
    margin: 0;
}

p {
    text-indent: 1.5em;
    /* should be 1em with twocolumn layout */
}


h1 + p,
h2 + p,
h3 + p,
h4 + p,
.noindent,
.continue {
    text-indent: 0;
}




/* predefined horizontal spaces */
.negthinspace {
    margin-left: -0.16666667em;
}


/* vertical space - insert the actual space (negative or positive) with margin-bottom */
.vspace {
    display: block;
}

/* vertical space that forces a linebreak */
.breakspace {
    display: table;
}

/* inline vertical space - this cannot be negative */
.vspace-inline {
    display: inline-block;
    height: calc(1em * 1.2);    /* full maximum height, including the leading: line-height - font-size */
    vertical-align: top;        /* if bottom is used, space could be inserted above this line of text */
}


/* predefined vertical spaces */
.smallskip {
    margin-bottom: 0.25rem;
}

.medskip {
    margin-bottom: 0.5rem;
}

.bigskip {
    margin-bottom: 1rem;
}


/****************/
/* environments */
/****************/


/* lists - first to fourth level */
.list {
    margin-top: 0.8rem;     /* \topsep */
    margin-bottom: 0.8rem;  /* \topsep */
    padding-left: 2.5rem;   /* \leftmargin */
}

.list .list {
    margin: 0.4rem 0;
    padding-left: 2.2rem;
}

.list .list .list {
    margin: 0.2rem 0;
    padding-left: 1.87rem;   /* \leftmargin */    
}

.list .list .list .list {
    margin: 0;
    padding-left: 1.7rem;   /* \leftmargin */    
}

.list p {
    text-indent: 0;         /* \listparindent */
}


/* itemize */

ul li {
    list-style-type: '•';
}

ul li ul li {
    list-style-type: '–';
}

ul li ul li ul li {
    list-style-type: '∗';
}

ul li ul li ul li ul li {
    list-style-type: '·';
}


/* \itemsep and \parsep */

.list li + li {
    margin-top: 0.8rem;     /* \itemsep + \parsep = 0.4em + 0.4em  */
}

.list li p + p {
    margin-top: 0.4rem;     /* \parsep */
}

.list .list  li + li {
    margin-top: 0.4rem;     /* \itemsep + \parsep = 0.2em + 0.2em  */    
}

.list .list li p + p {
    margin-top: 0.2rem;     /* \parsep */
}

.list .list .list li + li,  /* \parsep = 0.2em */
.list .list .list li p + p  /* \itemsp = 0 */
{
    margin-top: 0.2rem;     
}

/* higher depths: \itemsep = \parsep = 0 */


/* the TeX and LaTeX logos */

span.tex span,
span.latex span {
    text-transform: uppercase;
}

span.latex span:first-child {
    font-size: 0.8em;
    vertical-align: 0.2em;
    margin-left:  -0.45em;
    margin-right: -0.15em;
}

span.tex span:first-child,
span.latex span:last-child {
    margin-left: -0.2em;
    margin-right: -0.2em;
    position: relative;
    top: 0.45ex;
}
