@import url("../fonts/cmu.css");


/***************/
/* page layout */
/***************/

body {
    max-width: 40rem;
    margin: 1em auto;
    padding: 0 5em;
}


/*********/
/* fonts */
/*********/

html {
    font-family: "Computer Modern Serif", serif;
    text-align: justify;
    font-variant-ligatures: common-ligatures;
    line-height: 1.2;
}


/* family */
.rm {
    font-family: "Computer Modern Serif", serif;
}
.sf {
    font-family: "Computer Modern Sans", sans-serif;
}
.tt {
    font-family: "Computer Modern Typewriter", monospace;
}

/* weight */
.md {
    font-weight: normal;
}

.bf {
    font-weight: bold;
}

/* shape - LaTeX doesn't support slanted small-caps by default */
.up {
    font-family: "Computer Modern Serif", serif;
    font-style: normal;
    font-variant-caps: normal;
}

.it {
    font-family: "Computer Modern Classical Serif Italic";
    font-style: italic;
    font-variant-caps: normal;
}

.sl {
    font-family: "Computer Modern Serif Slanted";
    /*font-style: oblique;*/
    font-variant-caps: normal;
}

.sc {
    font-family: "Computer Modern Serif", serif;
    font-style: normal;
    font-variant-caps: small-caps;
}

.em, em {
    font-style: italic; /* TODO: what if nested? */
}


/* size */

.katex {
    font-size: 1em !important;
}


.tiny {
    font-size: .5rem;
}

.scriptsize {
    font-size: .7rem;
}

.footnotesize {
    font-size: .82rem;
}

.small {
    font-size: .91rem;
}

.normalsize {
    font-size: 1rem;
}

.large {
    font-size: 1.2rem;
}

.Large {
    font-size: 1.4rem;
}

.LARGE {
    font-size: 1.7rem;
}

.huge {
    font-size: 2rem;
}

.Huge {
    font-size: 2.5rem;
}




/**************/
/* sectioning */
/**************/

h1, h2, h3, h4 {
    /* \normalfont */
    font-family: "Computer Modern Serif", serif;
    font-style: normal;
    font-variant-caps: normal;

    text-align: left;
}

h1.nocount:before,
h2.nocount:before,
h3.nocount:before {
    content: none;
    counter-increment: none;
}



/*************/
/* alignment */
/*************/

.center {
    text-align: center;
}

.raggedright {
    text-align: left;
}

.raggedleft {
    text-align: right;
}


/**********/
/* spaces */
/**********/


/* paragraphs are indented */

p, ul, ol, dl {
    margin: 0;
}

p {
    text-indent: 2em;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
.noindent,
.continue {
    text-indent: 0;
}




/* predefined horizontal spaces */
.negthinspace {
    margin-left: -0.16666667em;
}


/* vertical space - insert the actual space (negative or positive) with margin-bottom */
.vspace {
    display: block;
}

/* vertical space that forces a linebreak */
.breakspace {
    display: table;
}

/* inline vertical space - this cannot be negative */
.vspace-inline {
    display: inline-block;
    height: calc(1em * 1.2);    /* full maximum height, including the leading: line-height - font-size */
    vertical-align: top;        /* if bottom is used, space could be inserted above this line of text */
}


/* predefined vertical spaces */
.smallskip {
    margin-bottom: 0.25em;
}

.medskip {
    margin-bottom: 0.5em;
}

.bigskip {
    margin-bottom: 1em;
}




/* the TeX and LaTeX logos */

.tex span,
.latex span {
    text-transform: uppercase;
}

.latex span:first-child {
    font-size: 0.8em;
    vertical-align: 0.2em;
    margin-left:  -0.45em;
    margin-right: -0.15em;
}

.tex span:first-child,
.latex span:last-child {
    margin-left: -0.2em;
    margin-right: -0.2em;
    position: relative;
    top: 0.45ex;
}
