
/*********/
/* fonts */
/*********/

@import url("../fonts/cmu.css");

html {
    font-family: "Computer Modern Serif", serif;
    text-align: justify;
    font-variant-ligatures: common-ligatures;
    line-height: 1.2;
}


/* family */
.rm {
    font-family: "Computer Modern Serif", serif;
}
.sf {
    font-family: "Computer Modern Sans", sans-serif;
}
.tt {
    font-family: "Computer Modern Typewriter", monospace;
}

/* weight */
.md {
    font-weight: normal;
}

.bf {
    font-weight: bold;
}

/* shape - LaTeX doesn't support slanted small-caps by default */
.up {
    font-style: normal;
    font-variant-caps: normal;
}

.it {
    font-family: "Computer Modern Classical Serif Italic";
    font-style: italic;
    font-variant-caps: normal;
}

.sl {
    font-family: "Computer Modern Serif Slanted";
    /*font-style: oblique;*/
    font-variant-caps: normal;
}

.sc {
    font-style: normal;
    font-variant-caps: small-caps;
}

.em, em {
    font-style: italic; /* TODO: what if nested? */
}


/* size */

.katex {
    font-size: 1em !important;
}


.tiny {
    font-size: 50%;
}

.scriptsize {
    font-size: 70%;
}

.footnotesize {
    font-size: 82%;
}

.small {
    font-size: 91%;
}

.normalsize {
    font-size: 100%;
}

.large {
    font-size: 120%;
}

.Large {
    font-size: 140%;
}

.LARGE {
    font-size: 170%;
}

.huge {
    font-size: 200%;
}

.Huge {
    font-size: 250%;
}




/**************/
/* sectioning */
/**************/


body {
    counter-reset: h2counter;
}

h1 {
    counter-reset: h2counter;
}

h2:before {
    content: counter(h2counter) "\0000a0\0000a0";
    counter-increment: h2counter;
    counter-reset: h3counter;
}
h2.nocount:before {
    content: none;
    counter-increment: none;
}

h3:before {
    content: counter(h2counter) "." counter(h3counter) "\0000a0\0000a0";
    counter-increment: h3counter;
}
h3.nocount:before {
    content: none;
    counter-increment: none;
}


/*************/
/* alignment */
/*************/

.center {
    text-align: center;
}

.raggedright {
    text-align: left;
}

.raggedleft {
    text-align: right;
}


/**********/
/* spaces */
/**********/


/* paragraphs are indented */

p, ul, ol, dl {
    margin: 0;
}

p {
   text-indent: 2em;
}

.noindent, .continue {
    text-indent: 0;
}


/* predefined horizontal spaces */
.negthinspace {
    margin-left: -0.16666667em;
}


/* vertical space - insert the actual space (negative or positive) with margin-bottom */
.vspace {
    display: block;
}

/* vertical space that forces a linebreak */
.breakspace {
    display: table;
}

/* inline vertical space - this cannot be negative */
.vspace-inline {
    display: inline-block;
    height: calc(1em * 1.2);    /* full maximum height, including the leading: line-height - font-size */
    vertical-align: top;        /* if bottom is used, space could be inserted above this line of text */
}


/* predefined vertical spaces */
.smallskip {
    margin-bottom: 0.25em;
}

.medskip {
    margin-bottom: 0.5em;
}

.bigskip {
    margin-bottom: 1em;
}




/* the TeX and LaTeX logos */

.tex span,
.latex span {
    text-transform: uppercase;
}

.tex span:first-child,
.latex span:first-child {
    font-size: 0.8em;
    vertical-align: 0.2em;
    margin-left:  -0.45em;
    margin-right: -0.15em;
}

.latex span:last-child {
    margin-left: -0.2em;
    margin-right: -0.2em;
    position: relative;
    top: 0.45ex;
}
