/* fonts */

html {
    font-family: serif;
    text-align: justify;
    font-variant-ligatures: common-ligatures;
}

/* family */
.rm {
    font-family: serif;
}
.sf {
    font-family: sans-serif;
}
.tt {
    font-family: monospace;
}

/* weight */
.md {
    font-weight: normal;
}

.bf {
    font-weight: bold;
}

/* shape */
.up {
    font-style: normal;
}

.it {
    font-style: italic;
}

.sl {
    font-style: oblique;
}

.sc {
    font-variant-caps: small-caps;
}


/* alignment */

.center {
    text-align: center;
}

.raggedright {
    text-align: left;
}

.raggedleft {
    text-align: right;
}


/* the TeX and LaTeX logos */

.tex sub, .latex sub, .latex sup {
    text-transform: uppercase;
}

.tex sub, .latex sub {
    vertical-align: -0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
    font-size: 1em;
}

.latex sup {
    font-size: 0.85em;
    vertical-align: 0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
}